
.split_ui {
  width: 100%;
  height: 100%;
}

.split_ui_horizontal {
  display: inline-block;
  overflow: auto;
  height: 100%;
}

.split_ui_horizontal_line {
  display: inline-block;
  background-color: #000;
  width: 3px;
  height: 100%;
  cursor: col-resize;
}
