body, html {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

header {
  height: 40px;
  border-bottom: 1px solid #CCC;
}

header a {
  display: inline-block;
  line-height: 40px;
  padding: 0px 20px;
  text-decoration: none;
  color: #2d2d2d;
}
