body {
  margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
	background-color: #EEE;
}

header {
	height: 80px;
	color: #151515;
}

header h2 {
	margin: 0;
	display: inline-block;
	float: left;
	line-height: 80px;
	padding-left: 10%;
}

header div {
	display: inline-block;
	float: right;
	padding-right: 10%;
}

header div a {
	display: inline-block;
	line-height: 80px;
	text-decoration: none;
	color: #151515;
	padding: 0px 30px;
}

header div a:hover {
	background-color: #151515;
	color: #DDD;
}

.posts {
	margin: 0 auto;
	margin-top: 40px;
	width: 960px;
	padding: 10px 20px;
	background-color: #151515;
	color: #DDD;
	
}

.post p {
	word-wrap: break-word;
}
